/* game board table */
div {
	position: relative;
	display: flex;
	justify-content: center;
}

h1 {
	font-family: Cursive;
	font-size: 3rem;
	margin: 0;
}

#board {
	border: solid thick blue;
}

#board td {
	width: 70px;
	height: 70px;
	border: solid 1px #666;
}

tr {
	background-color: yellow;
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.piece.p1 {
	background-color: red;
}

.piece.p2 {
	background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px lightgray;
}

#column-top td:hover {
	background-color: rgb(156, 156, 153);
}

p {
	position: relative;
	display: flex;
	justify-content: center;
	width: 40%;
	min-width: 550px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
}
